html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background: #000000;
}

#app-canvas {
	background: #000000;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Comic Helvetic Light";
	src: url("./assets/fonts/ComicHelvetic_Light.otf") format("opentype");
}

@font-face {
	font-family: "Comic Helvetic Medium";
	src: url("./assets/fonts/ComicHelvetic_Medium.otf") format("opentype");
}

@font-face {
	font-family: "Comic Helvetic Heavy";
	src: url("./assets/fonts/ComicHelvetic_Heavy.otf") format("opentype");
}

@font-face {
	src: url("./assets/fonts/Fresca-Regular.ttf") format("truetype");
	font-family: "Fresca Regular";
}
